---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Press Kit" theme="archive">
  <h1 class="font-display text-4xl">Press Kit</h1>
  <ul class="mt-4 list-disc pl-6">
    <li><a href="/press/angel-suero-bio.txt" class="underline" download>Download bio</a></li>
    <li><a href="/press/angel-suero-photo-links.txt" class="underline" download>Download photo links</a></li>
  </ul>
</BaseLayout>
