---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Press Kit">
  <h1 class="font-display text-4xl">Press Kit</h1>
  <ul class="mt-4 list-disc pl-6">
    <li><a href="#" class="underline">Download bio (placeholder)</a></li>
    <li><a href="#" class="underline">Download photos (placeholder)</a></li>
  </ul>
</BaseLayout>
